header {

    .container {
        @include container;
        @include flexbox(space-between,center)
    }

    #header-top {
        
        @include flexbox(center,center);
        height: 50px;
        background-color: $primary-blue;

        ul {

            @extend %nav-links;
            color: $secondary-white;
            font-size: $small-font;

            & > li:first-child {

                text-transform: none;
                font-weight: 200;
            }

            & > li {

                margin: 0 10px;
                text-transform: uppercase;
            }

            
        }

    }

    #header-mid {

        height: 100px;
        @include flexbox(center,center);
        
        #logo {

            height: 50px;
        }
    }

    nav {

        @include flexbox(center,center);

        .container {

            @include container;

            #nav-links > li {

                margin: 0 20px;

                &:first-child {
                    
                    margin-left: 0;
                }
            }

            #nav-links { 

                @extend %nav-links;

                a {

                    position: relative;
                }

                & > li {

                    background-color: red;
                    border: 1px solid #000;

                    & > .dropdown {

                        display: none;
                        position: absolute;
                        z-index: 99;
                    }

                    &:hover > .dropdown {

                        display: block;
                        background-color: blue;

                        .sub-dropdown {

                            background-color: green;
                        }
                    }
                }
                
            }
        }
    }
}
