// SECTIONS PREVIEWS

#posts-previews {

    @include flexRow(center,center);
    background-color: $white-smoke;

    .container {

        @include container;
        @include flexRow(space-between,center);
        flex-wrap: wrap;
    }

    .thumbnail {

        margin: 8px 0;
        width: 450px;
        height: 250px;
        position: relative;

        .layover {

            @extend %layover;
            transition: all .4s;
        }

        img {
            position: relative;
            max-width: 100%;
            height: auto;
        }

        .thumb-text {

            @include absolute-text(60%,20px,80%);
            max-height: 35%;
            overflow: hidden;
            transition: all .3s;
            transition-delay: .3s;

            .label {

                @extend %label;
            } 

            h2 {

                @extend %layover-h2;
            }

            .descr {

                @extend %layover-descr;
                max-height: 0;
                visibility: hidden;
                transition: all ease .3s;
                transition-delay: .3s;
            }

        }

        &:hover .thumb-text {
            top: 20px;
            max-height: 90%;
            transition-delay: 0s;

        }

        &:hover .layover {

            background-color: rgba(33,37,41,.8);
        }

        &:hover .descr {
            max-height: 100%;
            visibility: visible;
            transition-delay: 0s;
        }
    }
}


// SECTION POST RANKS 

#posts-ranks {

    padding: 50px 0;
    @include flexRow(center,center);

    .container {
        @include container;
        @include flexRow(space-between, null);
    }

    #featured {

        @include flexCol(flex-end,center);
    }

    #featured-posts {

        flex-grow: 1;
    }

    .rank {

        flex-basis: 30%;

        h3 {

            color: $dark-gray;
            font-size: $base-font;
            text-transform: uppercase;
        }

        .wrapper-rank-post {

            @include flexRow(flex-start,center);
            padding: 20px 0;
            border-bottom: 1px dotted #e2e2e2; 

            .wrapper-image {
    
                width: 50px;
                height: 50px;
    
                img {
    
                    max-width: 100%;
                    height: auto;
                }
            }
    
            .wrapper-text {
    
                @include flexCol(center,flex-start);
                padding-left: 10px;

                .title {

                    a {
                        color: $black-pearl;
                        text-decoration: none;
                        text-transform: capitalize;
                        font-size: $base-font;

                        &:hover {

                            text-decoration: underline;
                        }
                    }
                }
                .date {

                    font-size: $small-font;
                    color: $light-mouse-gray;
                }
            }
        }

        .wrapper-rank-author {

            @include flexRow(flex-start,center);
            padding: 20px 0;

            .wrapper-image {

                flex-basis: 112px;
                width: 112px;
                height: 112px;

                img {

                    max-width: 100%;
                    height: auto;
                }
            }

            .wrapper-text {
                
                @include flexCol(center,flex-start);
                flex-basis: calc(100% - 112px);
                padding-left: 10px;

                .name {

                    color: $black-pearl;
                    text-decoration: none;
                    text-transform: capitalize;
                    font-size: $large-font;
                }

                .descr {

                    font-size: $base-font;
                    color: $light-mouse-gray;
                }
            }
        }
        #slider {

            margin-top: 20px;
            width: 450px;
            height: 187.5px;
            position: relative;

            img {

                max-width: 100%;
                height: auto;
                position: relative;
               
            }

            .layover {

                @extend %layover;
            }

            .thumb-text {

                @include absolute-text(50%,20px,80%);
                max-height: 50%;
                overflow: hidden;
                transition: all .3s;
                transition-delay: .3s;
    
                .label {
    
                    @extend %label;
                } 
    
                h2 {
    
                    @extend %layover-h2;
                   
                }
    
                .descr {
    
                    @extend %layover-descr;
                    max-height: 0;
                    visibility: hidden;
                    transition: all ease .3s;
                    transition-delay: .3s;
                }
    
            }

            &:hover .thumb-text {

                top: 20px;
                max-height: 90%;
                transition-delay: 0s;
            }
    
            &:hover .layover {
    
                background-color: rgba(33,37,41,.8);
            }
    
            &:hover .descr {

                max-height: 100%;
                visibility: visible;
                transition-delay: 0s;
            }
        }

    }

}

// SECTION CAROUSEL

#carousel {

    @include flexRow(center,center);
    background-color: $primary-blue;
    height: 150px;
    
    .container {
        
        @include flexRow(flex-start,center);
        overflow-x: hidden;
        scroll-behavior: smooth;
    }

    .category {

        @include flexRow(center,center);
        margin: 0 10px;
        background-color: $blue-charcoal;
        min-width: calc(100% / 6 - 20px);
        height: 60px;
        color: $secondary-white;
        text-transform: uppercase;
        font-weight: 600;
    }

    .scroll {

        padding: 0 10px;
    }

}

// ALL ARTICLES

#all-articles {

    @include flexRow(center,center);

    .container {

        @include container;
        @include flexRow(center,flex-start);
        
        .container-articles {

            flex-basis: 70%;
        }
        .wrapper-article {

            @include flexCol(null,null);
            padding: 50px 0;

            .gallery {

                @include flexRow(null,null);
                flex-wrap: wrap;
            }

            .wrapper-image {

                width: 100%;
                height: 450px;

                #lightbox {

                    @include flexRow(space-between,center);
                    background-color: rgba(0,0,0,.8);
                    width: 100%;
                    height: 100vh;
                    position: fixed;
                    z-index: 999;
                    top: 0;
                    left: 0;

                    .close {

                        position: absolute;
                        top: -25px;
                        right: 0;
                        color: $secondary-white;
                        font-size: $large-font;
                    }

                    .action {

                        background-color: $black-pearl;
                        padding: 30px 10px;
                        border-radius: 4px;
                        display: inline-block;
                        color: $secondary-white;
                        font-size: $large-font;
                    }

                    .wrapper-image {

                        height: 600px;
                        width: 600px;
                        position: relative;

                        img {

                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                        }
                    }
                }

                .wrapper-image-gallery {

                    width: calc(100% / 3);
                    height: 50%;
                    position: relative;
                    overflow: hidden; /* clips the image when using transform zoom */

                   

                    img {

                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transition: all .4s;
                        
                    }

                    .layover {

                        @extend %layover;
                        @include flexRow(center,center);
                        visibility: hidden;

                        .plus {

                            color: $secondary-white;
                            font-size: 30px;
                            transition: all .2s;

                            &:hover {

                                font-size: 40px;
                            }
                        }
                    }

                    &:hover .layover {

                        visibility: visible;
                    }

                    &:hover img {

                        transform: scale(1.1);
                    }
                }

                img {

                    max-width: 100%;
                    max-height: auto;
                }
            }

            .wrapper-infos {

                @include flexRow(null,null);

                .date {

                    flex-basis: 10%;
                    @include flexCol(null,null);

                    .day {

                        @include flexRow(center,center);
                        background-color: $white-smoke;
                        color: $blue-charcoal;
                        font-weight: 700;
                        width: 50px;
                        height: 70px;
                    }

                    .month {

                        @include flexRow(center,center);
                        font-size: $small-font;
                        background-color: $blue-charcoal;
                        color: $white-smoke;
                        width: 50px;
                        text-transform: uppercase;
                    }
                }

                .wrapper-text {
                    flex-basis: 90%;
                    border-bottom: 1px dotted #e2e2e2;
                    h2 {

                        color: $blue-charcoal;
                    }


                    .descr {

                        color: $mouse-gray;
                    }

                    .author {

                        ul {

                            @include flexRow(null,null);
                            list-style-type: none;
                            padding: 10px 0;
                            color: $mouse-gray;
                            font-size: $small-font + 2px;

                            li {

                                margin: 0 10px;
                            }

                            a {

                                text-decoration: none;
                                color: $primary-blue;

                                &:hover {

                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }
        }

        aside {

            @include flexCol(null,null);
            margin: 50px 0;
            padding: 20px;
            flex-basis: 30%;
            position: sticky;
            top: 0;

            & > * {

                margin-bottom: 20px;
            }

            a {
                color: $primary-blue;
                text-decoration: none;
            }

            h3 {

                color: $blue-charcoal;
                font-size: $base-font;
                text-transform: uppercase;
            }

            .post {

                @include flexRow(null,null);

                .social-icon {

                    font-size: $large-font;
                    padding: 5px;
                }

                .message {

                    @include flexCol(null,null);
                    color: $mouse-gray;
                    font-size: $base-font;

                    a {
                        font-size: $small-font;
                    }
                }
            }

            #lastest-photos > * {

                margin: 20px 0;
            }

            .wrapper-labels {

                @include flexRow(null,null);

                .label {

                    background-color: $blue-charcoal;
                    color: $secondary-white;
                    font-size: $small-font;
                    text-transform: uppercase;
                    border-radius: 20px;
                    padding: 5px 10px;
                    margin: 0 2px;
                    font-weight: 700;
                }
            }
        }
    }


}