// SECTIONS PREVIEWS

#posts-previews {

    @include flexbox(center,center);
    background-color: #f7f7f7;

    .container {

        @include container;
        @include flexbox(space-between,center);
        flex-wrap: wrap;
    }

    .thumbnail {

        margin: 8px 0;
        width: 450px;
        height: 250px;
        position: relative;

        .layover {

            @extend %layover;
            transition: all .4s;
        }

        img {
            position: relative;
            max-width: 100%;
            height: auto;
        }

        .thumb-text {

            @include absolute-text(60%,20px,80%);
            max-height: 35%;
            overflow: hidden;
            transition: all .3s;
            transition-delay: .3s;

            .label {

                @extend %label;
            } 

            h2 {

                @extend %layover-h2;
            }

            .descr {

                @extend %layover-descr;
                max-height: 0;
                visibility: hidden;
                transition: all ease .3s;
                transition-delay: .3s;
            }

        }

        &:hover .thumb-text {
            top: 20px;
            max-height: 90%;
            transition-delay: 0s;

        }

        &:hover .layover {

            background-color: rgba(33,37,41,.8);
        }

        &:hover .descr {
            max-height: 100%;
            visibility: visible;
            transition-delay: 0s;
        }
    }
}


// SECTION POST RANKS 

#posts-ranks {

    @include flexbox(center,center);

    .container {
        @include container;
        @include flexbox(space-between, initial);
    }

    #featured {

        @include flexbox(flex-end,center);
        flex-direction: column;
    }

    #featured-posts {

        flex-grow: 1;
    }

    .rank {

        flex-basis: 30%;

        h3 {

            color: $title-text;
            font-size: $base-font;
            text-transform: uppercase;
        }

        .wrapper-rank-post {

            @include flexbox(flex-start,center);
            padding: 20px 0;
            border-bottom: 1px dotted #e2e2e2; 

            .wrapper-image {
    
                width: 50px;
                height: 50px;
    
                img {
    
                    max-width: 100%;
                    height: auto;
                }
            }
    
            .wrapper-text {
    
                @include flexbox(center,flex-start);
                flex-direction: column;
                padding-left: 10px;

                .title {

                    a {
                        color: #121416;
                        text-decoration: none;
                        text-transform: capitalize;
                        font-size: $base-font;

                        &:hover {

                            text-decoration: underline;
                        }
                    }
                }
                .date {

                    font-size: $small-font;
                    color: #888;
                }
            }
        }

        .wrapper-rank-author {

            @include flexbox(flex-start,center);
            padding: 20px 0;

            .wrapper-image {

                flex-basis: 112px;
                width: 112px;
                height: 112px;

                img {

                    max-width: 100%;
                    height: auto;
                }
            }

            .wrapper-text {
                
                @include flexbox(center,flex-start);
                flex-basis: calc(100% - 112px);
                flex-direction: column;
                padding-left: 10px;

                .name {

                    color: #121416;
                    text-decoration: none;
                    text-transform: capitalize;
                    font-size: $large-font;
                }

                .descr {

                    font-size: $base-font;
                    color: #888;
                }
            }
        }
        #slider {

            margin-top: 20px;
            width: 450px;
            height: 187.5px;
            position: relative;

            img {

                max-width: 100%;
                height: auto;
                position: relative;
               
            }

            .layover {

                @extend %layover;
            }

            .thumb-text {

                @include absolute-text(50%,20px,80%);
                max-height: 50%;
                overflow: hidden;
                transition: all .3s;
                transition-delay: .3s;
    
                .label {
    
                    @extend %label;
                } 
    
                h2 {
    
                    @extend %layover-h2;
                   
                }
    
                .descr {
    
                    @extend %layover-descr;
                    max-height: 0;
                    visibility: hidden;
                    transition: all ease .3s;
                    transition-delay: .3s;
                }
    
            }

            &:hover .thumb-text {

                top: 20px;
                max-height: 90%;
                transition-delay: 0s;
            }
    
            &:hover .layover {
    
                background-color: rgba(33,37,41,.8);
            }
    
            &:hover .descr {

                max-height: 100%;
                visibility: visible;
                transition-delay: 0s;
            }
        }

    }

}