%nav-links {

    @include flexbox(center,center);
    list-style: none;
}


// Label

%label {

    background-color: $primary-blue;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: $small-font;
    text-transform: uppercase;
    font-weight: 600;
    color: $secondary-white
}

// Layover 

%layover {

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(33,37,41,.4);
}

%layover-h2 {

    color: $secondary-white;
    font-size: $large-font;
    text-transform: capitalize;
    min-height: 60px;
}

%layover-descr {

    color: #FFF;
    opacity: .6;
    font-size: $base-font;
    font-weight: 600;
}