%nav-links {

    @include flexbox(center,center);
    list-style: none;
}

%layover {

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(33,37,41,.4);
}