// Colors

$primary-blue: #0088cc;
$secondary-white: #FFF;

// Mixins

@mixin container {

    flex-basis: 90%;
}

@mixin flexbox($jusitfy,$align) {

    display: flex;
    justify-content: $jusitfy;
    align-items: $align;
}

@mixin absolute-text($top,$left,$width) {

    position: absolute;
    top: $top;
    left: $left;
    width: $width;
    z-index: 2;
}